.outerContainer {
  padding: 50px 20%;
}


/* form */
.form {
  border: 1px solid grey;
  padding: 30px 50px;
  background-color: #151414;
}

.backBtn {
  margin-left: 50px;
}

/* form inputs */

.form input {
  background: black;
  margin-bottom: 30px;
  color: white;
}

.form input:focus {
  background: black;
  border: 1px solid grey;
  color: white;
}

.form textarea {
  background: black;
  margin-bottom: 20px;
  border: 1px solid grey;
  color: white;
}

.form textarea:focus {
  background: black;
  border: 1px solid grey;
  color: white;
}
