.outerContainer {
  display: flex;
  flex-grow: 1;
}

/* project details */
.projectDetails{
  width: 25%;
}
.projectDetails > p {
  margin: 30px 40px;
}

/* form */
.formContainer {
  margin-top: 20px;
 width: 55%;
}

.backBtn {
  margin-left: 50px;
}

.form {
  border: 1px solid grey;
  padding: 30px 80px;
  background-color: #151414;
}



.form input {
  background: black;
  margin-bottom: 30px;
  color: white;
}

.form input:focus {
  background: black;
  border: 1px solid grey;
  color: white;
}

.form textarea {
  background: black;
  margin-bottom: 20px;
  border: 1px solid grey;
  color: white;
}

.form textarea:focus {
  background: black;
  border: 1px solid grey;
  color: white;
}

